{
  "openapi": "3.0.1",
  "info": {
    "version": "1.0.0",
    "title": "Bazaar",
    "description": "Bazaar OpenAPI 3.0.1 specification",
    "contact": {
      "name": "Dev Team",
      "email": "dev@ocoord.com",
      "url": "https://occooord.com/contact"
    },
    "license": {
      "name": "MIT",
      "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
    }
  },
  "servers": [
    {
      "url": "https://bazaar.com/api",
      "description": "Production environment"
    },
    {
      "url": "https://staging.bazaar.com/api",
      "description": "Staging environment"
    },
    {
      "url": "https://dev.bazaar.com/api",
      "description": "Development environment"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "tags": [
          "auth"
        ],
        "security": [],
        "description": "Sign in. Returns a new token for correct credentials.",
        "operationId": "signIn",
        "requestBody": {
          "description": "Get a new token for valid credentials",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "sign in response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "auth"
        ],
        "description": "Sign out. Detels the token",
        "operationId": "signOut",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID of token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "sign out response"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "post": {
        "tags": [
          "account"
        ],
        "security": [],
        "description": "Registration / Sign up",
        "operationId": "createAccount",
        "requestBody": {
          "description": "account payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAccount"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": [
          "account"
        ],
        "description": "Returns a account based on a single ID, if the account does not have access to data",
        "operationId": "showAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "account response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "account"
        ],
        "description": "Edit account",
        "operationId": "updateAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "account payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAccount"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "account response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "product"
        ],
        "description": "List products",
        "operationId": "listProducts",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "product"
        ],
        "description": "Create new Product",
        "operationId": "createProduct",
        "requestBody": {
          "description": "Product payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewProduct"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "product response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/products/{title}-{id}": {
      "get": {
        "tags": [
          "product"
        ],
        "description": "Show products",
        "operationId": "showProduct",
        "parameters": [
          {
            "name": "title",
            "in": "path",
            "description": "title of product",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of product",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "in": "header",
        "scheme": "bearer",
        "bearerFormat": "JW"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    },
    "schemas": {
      "Account": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NewAccount"
          },
          {
            "required": [
              "id",
              "roles"
            ],
            "properties": {
              "id": {
                "type": "string",
                "readOnly": true
              },
              "roles": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "NewAccount": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Credentials"
          },
          {
            "required": [
              "firstName",
              "lastName"
            ],
            "properties": {
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "avatarUrl": {
                "type": "string",
                "format": "url"
              }
            }
          }
        ]
      },
      "Credentials": {
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "writeOnly": true,
            "format": "password"
          }
        }
      },
      "Token": {
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "Product": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NewProduct"
          },
          {
            "required": [
              "id",
              "created"
            ],
            "properties": {
              "id": {
                "type": "string",
                "readOnly": true
              },
              "created": {
                "type": "object",
                "required": [
                  "by",
                  "at"
                ],
                "properties": {
                  "by": {
                    "$ref": "#/components/schemas/Account"
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        ]
      },
      "NewProduct": {
        "required": [
          "title",
          "description",
          "locations",
          "attendees",
          "kind",
          "limit"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          },
          "kind": {
            "type": "string",
            "enum": [
              "science",
              "health"
            ]
          },
          "limit": {
            "type": "integer",
            "format": "int32"
          },
          "attendees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          }
        }
      },
      "Location": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GeoLocation"
          }
        ],
        "required": [
          "street",
          "city",
          "state",
          "zip"
        ],
        "properties": {
          "street": {
            "type": "string",
            "example": "12345 El Monte Road"
          },
          "city": {
            "type": "string",
            "example": "Los Altos Hills"
          },
          "state": {
            "type": "string",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "example": "94022"
          }
        }
      },
      "GeoLocation": {
        "required": [
          "latitude",
          "longitue"
        ],
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
